# Dependencies
node_modules
package-lock.json

# Build outputs
dist
build
.next
out

# Cache
.cache
.parcel-cache
.vite

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Git
.git

# Other
coverage
*.min.js
*.min.css
