@import "tailwindcss";

/* Global styles untuk SIMANIS */
html, body, #root {
  height: 100%;
}

body {
  background-color: #f8fafc; /* Tailwind gray-50 */
  color: #0f172a; /* Tailwind slate-900 */
}
